page-suggestions-contact {

  ion-content{

    #sond-list-box {
      margin-top: 90px;
      width: 90%;
      margin-left: 5%;
      margin-bottom: 60px;

      .item-sondage{
        padding-left: 9px !important;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid lightgrey;
        padding-right: 9px !important;

        .item-inner{
          padding: 0 !important;
          border: none !important;

          ion-label{
            margin-right: 0 !important;
            padding-right: 10px;
          }

        }

        .icon-list-sond{
          /* empty */
        }

        .content-list-sond{
          display: inline-block;
          vertical-align: middle;
          width: 90%;
          overflow: hidden;

          p:first-child{
            color: #007BC0;
            font-weight: bold;
            font-size: 17px;
          }

        }

        .r-list-sond{
          display: inline-block;
          vertical-align: middle;
          width: 7%;
          text-align: right;
          font-size: 25px;
        }

      }

    }

    #sugg-list{
      margin-top: 75px;
      margin-bottom: 55px;

      h5 {
        margin-left: 5%;
        margin-top: 30px;
        display: none;
      }

      .item-list-sugg{
        border: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        .item-inner{
          padding: 0 !important;
          border: none !important;

          ion-label{
            margin-right: 0 !important;
            margin-bottom: 0 !important;
            height: 60px;
          }

        }

        .icon-list-sugg, .content-list-sugg, .like-list-sugg{
          width: 73%;
          display: inline-block;
          vertical-align: middle;
        }

        .content-list-sugg{
          border-bottom: 1px solid lightgrey;
          padding-left: 15px;
          padding-top: 10px;
          padding-bottom: 10px;
          overflow: hidden;
          padding-right: 10px;
        }

        .like-list-sugg{
          width: 5% !important;

          .like-icon-sugg {
            font-size: 20px;
            color: #007BC0;
          }

        }

        .like-list-sugg, .icon-list-sugg{
          width: 11%;
          text-align: center;
        }

        .icon-list-sugg{
          margin-left: 15px;

          .losange-list-sugg {
            width: 40px;
            height: 40px;
            transform: rotate(45deg);
            background-color: lightgrey;
            border-radius: 4px;
            color: #FFF;
            font-size: 25px;

            ion-icon{
              transform: rotate(-45deg);
              padding-top: 3px;
              padding-right: 4px;
            }

            .icon-agenda, .icon-suggestion, .icon-concours{
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
              margin-top: -18px;
              margin-left: -1px;
            }

          }
        }

        .content-list-sugg {

          div{
            color: #4d6073;
          }

          p{
            color: #007BC0;
            font-weight: 700;
            font-size: 15px;
          }

        }

      }

    }

    #add-sugg{
      position: absolute;
      right: 10%;
      text-align: center;
      background-color: #007BC0;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      color: #FFF;
      z-index: 10000;
      font-size: 40px;
      //padding-top: 15px;
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #dashboard-box-1 {
      padding-left: 35px;
      padding-right: 5%;

      #account-box-2, #account-box-3 {
        width: 100%;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
      }

      #account-box-1{
        background-image: url("../assets/imgs/hexa-bleu.png");
        background-repeat: no-repeat;
        background-size: 65%;
        height: 200px;
        position: absolute;
        width: 200px;
        left: 20px;
        top: 25px;

        .icon-suggestion, .icon-concours{
          font-size: 45px;
          color: #FFF;
          position: absolute;
          z-index: 10;
          left: 44px;
          top: 40px;
        }

      }

      .hexagon {
        position: absolute;
        width: 100px;
        height: 57.74px;
        left: 5%;
        top: 40px;
        background-size: auto 115.4701px;
        background-position: center;
        /*box-shadow: 3px 4px 8px 0 #C1C1C1;*/
        background-color: #007BC0;

        .icon-suggestion, .icon-concours{
          font-size: 45px;
          color: #FFF;
          position: absolute;
          z-index: 10;
          left: 28%;
          top: 8px;
        }


        .hexTop, .hexBottom {
          position: absolute;
          z-index: 1;
          width: 70.71px;
          height: 70.71px;
          overflow: hidden;
          -webkit-transform: scaleY(0.5774) rotate(-45deg);
          -ms-transform: scaleY(0.5774) rotate(-45deg);
          transform: scaleY(0.5774) rotate(-45deg);
          background: inherit;
          left: 14.64px;
        }


        .hexTop:after, .hexBottom:after {
          content: "";
          position: absolute;
          width: 100.0000px;
          height: 57.73502691896258px;
          -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
          -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
          transform: rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
          -webkit-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
          transform-origin: 0 0;
          background: inherit;
        }

        .hexTop {
          top: -35.3553px;
        }

        .hexTop:after {
          background-position: center top;
        }

        .hexBottom {
          bottom: -35.3553px;
          /*box-shadow: 0px 2px 5px 3px #C1C1C1;*/
        }

        .hexBottom:after {
          background-position: center bottom;
        }

        .hexagon:after {
          content: "";
          position: absolute;
          top: 0.0000px;
          left: 0;
          width: 100.0000px;
          height: 57.7350px;
          z-index: 2;
          background: inherit;
        }

      }

      #account-box-2 {
        text-align: left;
        color: #4d6073;
        font-weight: 600;
        font-size: 20px;
        padding-left: 40%;
      }

      #account-box-3{
        width: 17%;
        vertical-align: text-bottom;
        text-align: right;
        font-size: 30px;
        color: #9e9e9e;
        padding-right: 3%;
        padding-top: 10px;
        padding-bottom: 10px;
      }

    }

    .hexagonList {
        position: absolute;
        width: 40px;
        height: 23.09px;
        left: 5%;
        top: 32px;
        background-size: auto 115.4701px;
        background-position: center;
        /*box-shadow: 3px 4px 8px 0 #C1C1C1;*/
        background-color: #007BC0;

        .icon-agenda, .icon-suggestion, .icon-concours{
          font-size: 25px;
          color: #FFF;
          position: absolute;
          z-index: 10;
          left: 20%;
          top: 0px;
        }
        ion-icon{
          transform: rotate(-45deg);
          padding-top: 3px;
          padding-right: 4px;
        }

        .hexTopList, .hexBottomList {
          position: absolute;
          z-index: 1;
          width: 28.28px;
          height: 28.28px;
          overflow: hidden;
          -webkit-transform: scaleY(0.5774) rotate(-45deg);
          -ms-transform: scaleY(0.5774) rotate(-45deg);
          transform: scaleY(0.5774) rotate(-45deg);
          background: inherit;
          left: 5.86px;
        }


        .hexTopList:after, .hexBottomList:after {
          content: "";
          position: absolute;
          width: 40.0000px;
          height: 23.0904107675855033px;
          -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
          -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
          transform: rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
          -webkit-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
          transform-origin: 0 0;
          background: inherit;
        }

        .hexTopList {
          top: -14.1421px;
        }

        .hexTopList:after {
          background-position: center top;
        }

        .hexBottomList {
          bottom: -14.1421px;
          /*box-shadow: 0px 2px 5px 3px #C1C1C1;*/
        }

        .hexBottomList:after {
          background-position: center bottom;
        }

        .hexagonList:after {
          content: "";
          position: absolute;
          top: 0.0000px;
          left: 0;
          width: 40.0000px;
          height: 23.0904px;
          z-index: 2;
          background: inherit;
        }

      }

  }

}

.platform-ios{
  page-demandes-contact{
    .hexagon{
      top: 70px !important;
    }
  }
}

@media only screen
and (device-width : 375px){
  .platform-ios {
    page-demandes-contact{
      .hexagon{
        top: 70px !important;
      }
    }
  }
}

//iPhone XR
@media only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 2) {

  .platform-ios {
    page-demandes-contact{
      .hexagon{
        top: 70px !important;
      }
    }
  }
}

//iPhone XS
@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3) {

  .platform-ios {
    page-demandes-contact{
      .hexagon{
        top: 70px !important;
      }
    }
  }
}

// iPhone XSMax
@media only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 3) {

  .platform-ios {
    page-demandes-contact{
      .hexagon{
        top: 70px !important;
      }
    }
  }
}
